.gibis_container {
    width: 450px;
    margin: 0 auto;
    padding: 3em;
  }
  
  .gibis_container h1 {
    margin-bottom: 0.5em;
  }
  
<<<<<<< HEAD
  .newproject_container p {
=======
  .gibis_container p {
>>>>>>> be1709f (Cadastros de gibis (construção))
    color: #7b7b7b;
  }