
.records{
    width: 1500%;    
    
}
.table-cont{
    width: 75%;
    height: 100%;
    position: absolute;
}
.records tr {
    vertical-align: top;
}
.records,th,td{
    border: 1px solid rgb(197, 197, 197);
    border-collapse: collapse;
    padding: 5px 2px;   
}
table{
    width: 100%;
}
.conteudo{
    text-align: center;

}
.acoes{
    text-align: center;
}
th{
   background-color: #ecebeb;
    color: rgb(83, 83, 83); 
    text-align: center;
    display:flex;
    align-items: center;
}
tr:hover{
    background-color: #f7f5f5;
}
tr{
    border: solid 0.5px rgb(201, 201, 201);
    height: 10%;
    width: 100%;
    display: flex;
    align-items: stretch;
}

.content-table{
    display: table;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60%;
    box-shadow: #727272 0px 3px 5px;
}

tr{
    display: table-row;
}

th{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}