<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleção do select</title>
    <script src ="front-gibis\src\components\project\GibisForm.js" defer></script>
</head>
<body>
    <form action="gibisfor">
        <select name="gibissele" id="gibselect">
            <option value="sim">Sim</option>
            <option value="nao">Não</option>

        </select>
    </form>
</body>
</html>