.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
}

@media only screen and (min-width: 769px) {
.container {
  width: 1200px;
}
}
  .start {
    justify-content: flex-start;
  }
  
  .column {
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .min-height {
    min-height: 75%;
  }

  