.footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  
  .social_list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-top: 20px;
  }
  
  .social_list li {
    margin: 0 1em;
  }
  
  .social_list li:hover {
    color: #7BD3E1;
  }
  
  .social_list svg {
    font-size: 1.5em;
    cursor: pointer;
  }
  
  .copy_right {
    margin-top: 2em;
    padding-bottom: 10px;
  }
  
  .copy_right span {
    font-weight: bold;
    color: #7BD3E1;
  }